@import "../../../scss/mixins";
@import "../../../scss/variables";

.place__tips {
  @include card;
  max-height: 100vh;
  overflow: auto;
  .place__tips--title {
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.6;
    margin-bottom: 0.7rem;

    .place__tips--icon {
      color: $colorAccentMap;
      padding: 0 0.8rem 0 0.4rem;
    }
  }
}
