@import "../../../scss/variables";
@import "../../../scss/mixins";

.place__popularHours {
  @include card;
  .place__popularHours--list {
    display: flex;
    .place__popularHours--day {
      flex-basis: 35%;
    }
    .place__popularHours--hour {
      padding-bottom: 0.5rem;
    }
  }
}
