@import "../../../scss/variables";
@import "../../../scss/mixins";

.place__rating {
  @include card;
  .place__rating--details {
    font-weight: 600;
    .place__rating--stars {
      padding-bottom: 0.5rem;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      .place__rating--value {
        padding-left: 0.5rem;
      }
    }
    .place__rating--reviews {
      padding-bottom: 0.5rem;
      padding-left: 0.5rem;
    }
  }
}
