@import "../../../scss/variables";

.footer__place {
  box-shadow: 0 -6px 4px -4px $colorBoxShadowHeader;
  width: 100%;
  .footer__place--content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    .footer__place--text {
      color: $colorFooterText;
      font-size: 0.75rem;
      padding: 0.5rem 1rem 1rem 0;
      text-align: right;
    }
  }
}
