//Colors:
$colorAccentMap: rgba(204, 68, 108, 1);
$colorCurrentLocationShadow: rgba(204, 68, 108, 0.7);
$colorCurrentLocation: rgba(204, 68, 108, 0);
$colorBoxShadowMap: rgba(185, 186, 194, 1);

$colorBackgroundPrimary: rgba(255, 255, 255, 1);

$colorBtnToggle: rgba(16, 92, 95, 1);
$colorBtnToggleText: rgba(231, 238, 239, 1);
$colorBtnToggleHover: rgb(14, 147, 151);
$colorBoxShadowHeader: rgba(0, 0, 0, 0.2);

$colorScrollbar: rgba(209, 209, 209, 1);
$colorScrollbarHover: rgba(198, 198, 198, 1);
$colorScrollbarShadow: rgba(156, 150, 150, 1);

$colorLinkWebsite: rgba(34, 109, 141, 1);
$colorLinkWebsiteHover: rgba(24, 77, 100, 1);

$colorTypeBorder: rgba(20, 121, 124, 1);
$colorTypeBackground: rgba(32, 184, 190, 0.1);
$colorTypeBackgroundHover: rgba(32, 184, 190, 0.3);
$colorTypeFont: rgba(16, 92, 95, 1);
$colorTypeChecked: rgba(32, 184, 190, 0.6);
$colorTypeFocus: rgba(32, 184, 190, 0.3);

$colorFooterText: rgba(128, 128, 128, 1);

$colorSliderBtn: rgb(243, 243, 243);
$colorSliderBtnHover: rgb(222, 222, 222);
$colorSliberBtnBorder: rgba(34, 34, 34, 0.3);
