@import "../../../scss/variables";

.place__location--address {
  .place__location--title {
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.6;
    margin-bottom: 0.7rem;
    display: flex;
    align-items: center;
    .place__location--icon {
      padding: 0 0.5rem 0 0.5rem;
      color: $colorAccentMap;
    }
  }
  .place__location--details {
    padding-left: 2.5rem;
    padding-bottom: 1rem;
  }
}
